button {
border: none;
margin: 1rem;
border-radius: 5px;
width: 80px;
color: white;
font-weight: bolder;
 }
.blue{
  background-color: rgba(91, 121, 229, 0.616);
}
.green{
  background-color: rgba(156, 229, 91, 0.616);
}
