.state-active{
  background-color: green;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.state-inactive{
  background-color: red;
  border-radius: 5px;
  color: white;
  text-align: center;
}

