<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/pngegg.png" width="30" height="30" alt="batou">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active" >Batcave <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="moto" routerLinkActive="active">Les BatMotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="voiture" routerLinkActive="active">Les BatMobiles</a>
      </li>
    </ul>
  </div>
</nav>
